---
{
    "stream": {
        "$id": "locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "savedFilterIds": [
                "877634445"
            ]
        },
        "fields": [
            "id", 
            "uid", 
            "meta",
            "name", 
            "slug"

        ],
        "localization": {
            "locales": ["en"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}} - {{neighborhood}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{!-- <div class="centered-container">
                    {{>backbutton}}
                </div> --}}
                {{>hero}}
                <div class="centered-container">
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>